html, body{
    width:100%;
    margin:0;
    padding:0;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
}
.navbar{
    padding-top:20px;
    padding-bottom:20px;
}
.section-header{
    color: rgb(46, 80, 119)
}
.footer{
    height:150px;
    color:white;
}
.lower-div-border{
    border-bottom: 2px solid white;
}
.vert-space{
    height:3px;
    margin-top:1px;
    margin-bottom:1px;
    background-color: rgb(46,80,119);
}
.bg-villima-nav{
    background-color: rgb(20, 105, 172);
}
.about-section{
    margin-bottom:20px;
    background-color: gainsboro;
}
