@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

html, body{
    width:100%;
    margin:0;
    padding:0;
}
body{
    font-family:'Lato', 'Russo One', 'Prompt', 'Libre Baskerville'; 
}
.navbar{
    padding-top:20px;
    padding-bottom:20px;
}
.navbar, footer{
    font-size: 1.3rem;
}
.section-header{
    color: rgb(46, 80, 119);
    font-weight: bold;
    border-bottom: 1px solid gray;
}
.footer{
    height:150px;
    color:white;
}
.lower-div-border{
    border-bottom: 2px solid white;
}
.vert-space{
    height:3px;
    margin-top:1px;
    margin-bottom:1px;
    background-color: rgb(46,80,119);
}
.bg-villima-nav{
    background-color: rgb(20, 105, 172);
}
.about-section, .program-section, .home-section{
    margin-bottom:20px;
}
.program-area{
    margin:15px 0 15px 0;
}
